.font-poppins{
    font-family: "Poppins", sans-serif;
}

.font-sora{
    font-family: "Sora", sans-serif;
}

.primary-color{
    color: #179800;
}

.hero-bg{
    background: linear-gradient(180deg, #FFF 0%, #EFEBE3 100%);
}